
#field {
    
    position: relative;
    top: 1em;
    left: 1em;
    list-style-type: none;

}

li {
    
    margin: 0px;
    padding: 0px;

}

span {

    width: 3em;
    height: 3em;
    display: inline-block;
    margin: 0.5px;
    border: 1px solid grey;
    background-color: #CDAA7D;
    
}


.panzer1 {

    background-color: rgb(238, 238, 209);  
   
}

.panzer2 {

    background-color: rgb(200, 200, 200);  
   
}


.wall{
    
    background-color: grey;

}
.shell{

    background-color: green;
    border-radius: 3em;
    transition : 0.5s;
}