
#field {
    
    position: relative;
    top: 1em;
    left: 1em;
    list-style-type: none;
    width: 90%;

}

li {
    
    margin: -3px;
    padding: 0px;

}

span {

    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 1px;
    border: 1px solid lightgrey;
    transition:0.5s;
    
}


.panzer {

    background-color: rgb(238, 238, 145);  
   
}


.wall{
    
    background-color: grey;

}
.bullet {

    background-color: black;
    transition-duration : 0.5s;

}